/*
font-family: 'JetBrains Mono', monospace;
font-family: 'Open Sans', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
}

body {

    min-height: 100vh;
background:#2F2E41;
}

.page{
    position: relative;
    height: 720px;
    width: 1280px;
   padding-top: 71px;
   margin:71px auto 0;
}

main {
    display: flex;
    justify-content: space-between;
    
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:101px;
  }

  nav ul {
    display: flex;
    gap:64px ;
  }

  nav ul li{
    list-style: none;
  }

  nav ul li a {
    text-decoration: none;
    font-family:'JetBrains Mono', monospace;
    color:#fff;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;  
}

nav ul li a:hover{
    opacity: 0.6;
}


section h1 {
   font-family:'JetBrains Mono', monospace; 
   font-style: normal;
   font-size: 36px;
   font-weight: 700;
   line-height: 40px;
   color: #fff;
   text-align: center;
   margin-bottom: 59px;
}

section h1 span {
    color:#00BFA6 ;
}

section p {
font-family:'Open Sans', sans-serif;
font-style: normal;
font-size: 16px;
font-weight: 400;
color: #c2c2c2;
text-align: center;
}

section p span {
    color: #00BFA6;
    font-weight: bold;

}

footer {
    text-align: center;
    margin-bottom: 23px;
    font-family:'JetBrains Mono', monospace ;
    color: #fff;
}

footer a {
    text-decoration: none;
    color: #fff;
}

#line {
  
    border: 1px solid #00BFA6;
    width:568px ;
    margin: 157px auto 27px;
    

    
}

#block {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

